<div
  class="font-mono font-bold h-18 flex justify-between items-center overflow-auto max-w-7xl mx-auto px-4"
>
  <div>
    <a
      class="no-underline hover:no-underline"
      href="{{ .Site.BaseURL | relLangURL }}"
    >
      <span>{{ .Site.Params.user }}@{{ .Site.Params.hostname }} ~ $</span>
    </a>
  </div>
  <input type="checkbox" id="menu-toggle" class="hidden peer" />
  <label
    for="menu-toggle"
    class="group md:hidden inline-flex w-12 h-12 text-white text-center items-center justify-center rounded transition hover:cursor-pointer"
  >
    <span class="sr-only">Menu</span>
    {{ partial "header/burger.html" . }}
  </label>
  <nav
    class="w-full md:w-auto h-full md:h-auto fixed md:static md:items-center md:justify-end top-18 left-0 flex overflow-hidden bg-primary md:bg-transparent items-center justify-center max-h-0 transition-[max-height] duration-500 ease-out peer-checked:max-h-full md:max-h-none z-50"
  >
    <ul
      class="md:p-0 md:m-0 flex flex-col md:flex-row items-center justify-center list-none"
    >
      {{ range .Site.Menus.header }}
        <li class="m-1 inline">
          <a
            class="no-underline animated-link text-white!"
            href="{{ .URL | absLangURL }}"
            title="{{ .Title }}"
            {{ if in .URL "index.xml" }}target="_blank" rel="noopener"{{ end }}
          >
            ~/{{- .Name -}}
          </a>
        </li>
      {{ end }}
      <!-- Language Switcher - Mobile -->
      <div class="m-1 inline" id="lang-switcher">
        <!-- Switcher button -->
        <div
          id="lang-button"
          class="flex items-center gap-1 px-2 cursor-pointer select-none"
        >
          ~/{{ .Language.Lang | upper }}
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-4 h-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m6 9 6 6 6-6"
            />
          </svg>
        </div>

        <!-- Dropdown menu -->
        <div
          id="lang-menu"
          class="absolute -translate-x-12 [@media(min-width:1400px)]:translate-x-0 hidden shadow-lg bg-primary border-2 border-gray-500/20 rounded-lg z-10"
        >
          {{ range .Site.Languages }}
            {{ $translation := "" }}
            {{ $foundTranslationsMobile := where $.Page.Translations "Lang" .Lang }}
            {{ if $foundTranslationsMobile }}
              {{ $translation = index $foundTranslationsMobile 0 }}
            {{ end }}
            {{ $isCurrentLang := eq .Lang $.Language.Lang }}
            <a
              href="{{ if $translation }}
                {{ $translation.Permalink }}
              {{ else }}
                {{ .Lang | absLangURL }}
              {{ end }}"
              class="block px-4 py-3 transition-colors duration-200 font-bold hover:bg-primary-dark/30"
            >
              {{ .LanguageName }}
            </a>
          {{ end }}
        </div>
      </div>
    </ul>
  </nav>
</div>
