<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="{{ .Description | default .Site.Params.SiteDescription }}"
/>

{{ with .Site.Params.favicon }}
  <link rel="icon" href="{{ . | absURL }}" type="image/svg+xml" />
  <link rel="shortcut icon" href="{{ . | absURL }}" type="image/x-icon" />
{{ end }}


<link
  rel="stylesheet"
  type="text/css"
  href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css"
/>

<title>
  {{ if .IsHome }}
    {{ site.Title }}
  {{ else }}
    {{ printf "%s | %s" .Title site.Title }}
  {{ end }}
</title>

{{ with (templates.Defer (dict "key" "global")) }}
  {{ partialCached "head/css.html" . }}
{{ end }}

{{ $langSwitcher := resources.Get "js/lang-switcher.js" | js.Build (dict "minify" true) }}
<script src="{{ $langSwitcher.RelPermalink }}" defer></script>
