<svg
  class="w-6 h-6 fill-current pointer-events-none"
  viewBox="0 0 16 16"
  xmlns="http://www.w3.org/2000/svg"
>
  <rect
    class="origin-center -translate-y-[5px] translate-x-[7px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-peer-checked:translate-x-0 group-peer-checked:translate-y-0 group-peer-checked:rotate-315"
    y="7"
    width="9"
    height="2"
    rx="1"
  ></rect>
  <rect
    class="origin-center transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.8)] group-peer-checked:rotate-45"
    y="7"
    width="16"
    height="2"
    rx="1"
  ></rect>
  <rect
    class="origin-center translate-y-[5px] transition-all duration-300 ease-[cubic-bezier(.5,.85,.25,1.1)] group-peer-checked:translate-y-0 group-peer-checked:-rotate-225"
    y="7"
    width="9"
    height="2"
    rx="1"
  ></rect>
</svg>
