<div class="group">
  <p class="text-gray-400 text-sm mb-1">
    {{ .Date.Format "Jan 2, 2006" }}
  </p>
  {{ partial "components/link-with-arrow" (dict "href" .RelPermalink "text" .Title "class" "text-xl mb-3" ) }}
  {{ with .Summary }}
    <p class="text-gray-400">{{ . }}</p>
  {{ else }}
    <p class="text-gray-400">{{ .Plain | truncate 160 }}</p>
  {{ end }}


  <!-- Tags -->
  {{ with .Params.tags }}
    <div class="flex flex-wrap gap-2">
      {{ range . }}
        <span
          class="bg-gray-700/40 text-gray-300 text-xs px-3 py-1 rounded-full hover:bg-gray-600 transition"
        >
          {{ . }}
        </span>
      {{ end }}
    </div>
  {{ end }}
</div>
