<!doctype html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="flex flex-col min-h-screen bg-primary text-white">
    <header class="shrink-0  bg-linear-to-t to-primary-dark ">
      {{ partial "header.html" . }}
    </header>
    <main
      class="flex-1 shrink-0 w-full md:w-4/5 lg:w-3/5 max-w-7xl mx-auto px-14 md:px-0 py-12"
    >
      {{ block "main" . }}{{ end }}
    </main>
    <footer class="shrink-0 bg-linear-to-b to-primary-dark">
      {{ partial "footer.html" . }}
    </footer>

    {{ if .Store.Get "hasMermaid" }}
      <script type="module">
        import mermaid from "https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs";
        mermaid.initialize({ startOnLoad: true });
        mermaid.registerIconPacks([
          {
            name: "logos",
            loader: () =>
              fetch("https://unpkg.com/@iconify-json/logos@1/icons.json").then(
                (res) => res.json(),
              ),
          },
        ]);
      </script>
    {{ end }}

    {{ if .Store.Get "hasImages" }}
      <script type="module">
        import { default as mediumZoom } from "https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/medium-zoom.esm.min.js";

        mediumZoom(".prose img, article img", {
          margin: 24,
          background: "rgba(0,0,0,0.8)",
        });
      </script>
    {{ end }}

    {{ if .Store.Get "hasToc" }}
      {{ $tocHighlighter := resources.Get "js/toc-highlighter.js" | js.Build (dict "minify" true) }}
      <script src="{{ $tocHighlighter.RelPermalink }}" defer></script>
    {{ end }}

    {{ if .Store.Get "hasCode" }}
      {{ $clipboardJs := resources.Get "js/clipboard.js" | js.Build (dict "minify" true) }}
      <script src="{{ $clipboardJs.RelPermalink }}" defer></script>
    {{ end }}
  </body>
</html>
